body{
    color: aliceblue;
}


.posters {
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster {
    max-height: 150px;
    margin: 10px;
    cursor: pointer;
}
.poster:hover {
   transform: scale(2);
}
body{
    padding: 0;
    margin: 0;
}